<div class="page-header">
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
</div>
<div ng-repeat="comment in post.comments">
  <span class="glyphicon glyphicon-arrow-up" ng-click="incrementVotes(comment)"></span>
  <span class="glyphicon glyphicon-arrow-down" ng-click="decrementVotes(comment)"></span>
      {{comment.votes}} - by {{comment.author}}
  <span style="font-size:20px; margin-left:10px;">
    {{comment.body}}
  </span>
</div>
<form ng-show="signedIn()" ng-submit="addComment()" style="margin-top:30px;">
  <h3>Add a new comment</h3>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="comment" ng-model="body"></input>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
